<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
	<!-- level: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
	<!-- intLevel 0 > 100 > 200 > 300 > 400 > 500 > 600 > -->
	<properties>
		<!-- file output format -->
		<property name="PATTERN">%d [%t] %-5p %c.%M(%L) - %m%n</property>
		<property name="LOG_HOME">/logs/max-xml-rpc</property>
		<property name="FILE_NAME">max-xml-rpc</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<!-- for normal log to use, not Rolling -->
<!-- 		<File name="FILE" fileName="${LOG_HOME}/${FILE_NAME}.log" immediateFlush="true" append="true"> -->
<!-- 			<PatternLayout pattern="${PATTERN}" /> -->
<!-- 		</File> -->
		<RollingRandomAccessFile
			name="MAX_XML_RPC"
			fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<!-- leave .gz file max -->
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</Appenders>

	<logger name="com.max.xml.service" level="DEBUG">
		<AppenderRef ref="Console" />
		<AppenderRef ref="MAX_XML_RPC" />
	</logger>
	<logger name="com.max.xml.servlet" level="DEBUG">
		<AppenderRef ref="Console" />
		<AppenderRef ref="MAX_XML_RPC" />
	</logger>
	
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MAX_XML_RPC" />
<!--		<AppenderRef ref="FILE" /> -->
		</Root>
	</Loggers>
</Configuration>